In [1]:
import zoo
zoo.hours()

Open 9-5 daily

In [2]:
import csv
with open("books.csv", 'rt') as fin:
    cin = csv.DictReader(fin)
    books = [row for row in cin]
    
print(books)

[{'author': 'J R R Tolkien', 'book': 'The Hobbit'}, {'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}]

In [45]:
#THIS WORKS
import sqlite3 as sql
import csv

conn = sql.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE IF NOT EXISTS books(title text,author text,year int)''')


with open("books2.csv", 'rt') as fin:
    cin = csv.DictReader(fin)
    books = [row for row in cin]
for i in books:
    curs.execute(f'INSERT INTO books VALUES(:title,:author,:year);',i)

In [1]:
#THIS ONLY WORKS IF SQLALCHEMY MADE THE DB
import csv
import sqlalchemy as sa
from sqlalchemy import text




engine = sa.create_engine('sqlite+pysqlite:///books.db')
with engine.connect() as con:
    ##THIS IS ONLY BECAUSE SQLALCHEMY WON'T OPEN AN SQLITE DB IT DIDN'T CREATE
    con.execute(text('''CREATE TABLE IF NOT EXISTS books(title text,author text,year int)'''))
    with open("books2.csv", 'rt') as fin:
        cin = csv.DictReader(fin)
        books = [row for row in cin]
    for i in books:
        stmt = f"INSERT INTO books VALUES('{i.get('title')}','{i.get('author')}',{i.get('year')});"
        con.execute(text(stmt))
    ##-------------##    
    rows = con.execute(text("SELECT title FROM books ORDER by title ASC"))
    for row in rows:
        print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [2]:
#THIS DOESN'T CARE WHO MADE THE DB
import sqlite3 as sql
import csv

conn = sql.connect('books.db')
curs = conn.cursor()
rows = curs.execute("SELECT title FROM books ORDER by title ASC")
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)